/* some button inspiration drawn from codepen.io */

@import url('https://fonts.googleapis.com/css?family=Raleway:300,400');

body 
{
  margin: auto;
  font-family: 'Raleway', sans-serif;
  align-content: center;
  min-height: 100vh;
}

#login, #loggedin 
{
  display: none;
}

.text-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 500px;
}

#fsbtn
{
  position: fixed;
  float: right;
}

.btn 
{
  background-color: ivory;
  display: inline-flex;
  height: 40px;
  width: 150px;
  border: 2px solid #BFC0C0;
  margin: 20px 20px 20px 20px;
  color: thistle;
  text-transform: uppercase;
  text-decoration: none;
  font-size: .8em;
  letter-spacing: 1.5px;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

#login 
{
  position: fixed;
  overflow: hidden;
  cursor: pointer;
}
  
#login a 
{
  position: fixed;
  transition: all .45s ease-Out;
}
  
#translate 
{
  transform: rotate(50deg);
  width: 100%;
  height: 250%;
  left: -200px;
  top: -30px;
  background: thistle;
  position: absolute;
  transition: all .3s ease-Out;
}
  
#login:hover #translate 
{
  left: 0;
}

#login:hover a {
  color: ivory;
}

#nowplaying
{
  left: 10px;
  position: fixed;
  bottom: 20px;
}

@keyframes gradient 
{
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}